:root{
    --color-primary:#f6d200;
    --color-secondary:#ededed;
    --color-white:#fff;
    --color-dark:#000;
}

  @import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');


a:link,a:visited {
    text-decoration:none;
}
ul {
    list-style:none;
}
.img-fluid{
   width:100%;
   object-fit:cover;
   height: 100%;
}
.section-heading {
    margin: 1.25rem 0;
    font-size: 1.55rem;
    text-align: center;
    color: var(--color-dark);
    text-transform: capitalize;
}

